/*police*/
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),       
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*generale*/
/*media queries tel*/
@media screen and  (min-width: 576px) and (max-width: 767.98px) 
{ 

body{
    min-width:560px;
    max-width:760px;
}

}


body{
    
    font-family:'ralewayregular';   
    border:solid black 2px;
    
   
   
}

.header{
    display:flex;
    flex-flow: column wrap;
}  



h1{
    text-align:left;
    font-size: 1 em;
    font-weight: bold;
}
h2{
    font-size: 1.1em;
    font-weight: bold;
    padding:20px 30px 0px 20px;
    margin:0px;
}

h3{
    font-weight: bold;
    font-size: 1em;
    margin: 5px 0px 5px 10px;
}
 
h6{
    padding:0px 0px 0px 10px
}
h5{
margin:5px 0px 0px 0px;

}

P{
    text-align:left;
    font-size: 1 em;
    margin:0px 0px 5px 5px;
}

.fa-star { 
    color: #0065FC;
     
}

.etoile{
    display:flex;
    flex-direction: row;
    margin:0px 0px 5px 5px;
    width: 45%;
    
}
.etoilegrise{
    color:#C5C2C2;
    
}

.fond-gris{
    background-color:#9c9999;

}

img{
max-width: 100%;  /*toute la largeur de leur block*/
max-height: 100%;   
}

.gras{
    font-weight:bold;
}

/*header*/

/*.logo{
    float:inline-start;
    top:5px;
    left:10px;    
}>

/*navigation*/
.navigation{
    display : flex;
    flex-flow:  wrap;  
    justify-content: flex-end;
    align-content: flex-end;    
            
}

.navinscription{
    color:#0065FC;
    font-weight:bold;
    text-decoration: none;
    
    

 }
.navlien{
    padding:5px;
    text-decoration: underline;  
         
}


/*zone rechercher*/

.rechercher{
    display : flex;
    width: 33%;    
    flex-direction: row;
    justify-content: space-between;     
    align-items: center;
    border:solid #F2F2F2 1px;
    border-radius : 10px;
}

.fa-map-marker-alt{
    display:flex!important;
    color:black; 
    background-color:grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:100%;
    width: 30px;
    justify-content: center;
    align-items: center;
    margin:0px 0px 0px 12px;
    padding:8px;
    

}

.fa-search{
    display: flex!important;
    color:white;    
    background-color:#0065FC ;    
    border-radius: 10px;
    height:100%;
    width: 30px;
    justify-content: center;
    align-items: center;    
    padding: 8px;
    margin: 0px;
}

.rechercheville{
    border:none;
    text-align:center;
    padding:6px;
    height:100%
    
}
  
/* filtres*/

.filtrestitre{
    margin:20px 0px 5px 12px;

}
.partie-filtre{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    padding:10px;
}

.choixfiltres{
    display : flex;
    border: solid #c5c2c2 1px;    
    border-radius: 10px;  
    justify-content: flex-start;
    align-items: center;   
    padding: 0px 10px 0px 0px;
    margin:3px;
    
    
}


.filtresicones{
    display: flex!important;
    justify-content: center;
    align-items: center;
    height : 25px;
    width: 25px;
    color:#0065FC;    
    background-color:#ccd8e9;
    border-radius: 10px;  
    
}

.recherchesfiltres{
      
    background-color:white;
    font-weight : bold;

}
/* logement dispo*/
.info{
    display : flex!important;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding : 0px 15px 0px 5px;
}  

.iconeinfo{
    display: flex!important;
    justify-content:center;
    align-items: center;
    border: solid 1px #C5C2C2;
    border-radius:10px;
    height : 2px;
    width: 2px;
    padding: 6px;
    font-size : 9px;
}    

/*hebergement*/
  .conteneur-annonces{
    display:flex;
    flex-direction: column;  
    align-items: center;   
    margin:10px;

  }  

.annonce-verticale{
    display:flex;      
    flex-direction: column;  
    justify-content: space-around;      
    background-color:white ;
    margin:8px;
   
      
}
.image-verticale{
    display:flex;
    width: 100%;
    max-height:50%;
    overflow: hidden;
    
}

.annonce{
    display: flex;
    border: white solid 4px;
    border-radius: 10px;
    box-shadow: silver 3px 3px 0px 0px;
    Height:11em; 
    width: 20em;

}   
/*
@media screen and (min-width: 768px) {
    .conteneur-annonces{
        flex-direction: row;                
        align-content:space-around;
      
 } 
*/
 
/*aside*/

.titre-populaire{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}

.conteneur-annoncespopulaire{
    display:flex;
    flex-direction: column;
    align-items: center;        
    padding:20px;
    justify-content: space-around;


}
.annoncehorizontale{
    display: flex;
    flex-direction: row;    
    justify-content:space-between; 
    box-sizing: border-box;
    margin:5px;    
    background: white;
    height: 8em;
    
         
 }


.image-horizontale{
    display: inline-block;    
    width: 60%;   
    max-height: 100%;    
    border-radius: 10px 0px 0px 10px;
            
}

.descriptifannoncehorizontale{
    display: flex;  
    flex-direction: column;  
    width: 50%;
    justify-content: space-between;
}
.hotelprix{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

}
    

    
          


/*activité*/

.conteneur-activites{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.image-activite{
    
    width: 100%;
    max-height:75%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    
}

.footer{
    display:flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    padding:15px;
   
    }

.lienfooter{
    display:flex!important;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    Height:8em;
    width:20em;
    
   

}






.element{
border:solid;

}




/*media queries 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
