/*--------sommaire-------
1. Fonts
2. general :
    - body
    - h1 h2 h3 h5
    - p
    - fa-star, etoile grise, etoile
    - fond gris
    - img
    - gras
    - a
    -commun annonce





/*police*/
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),       
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }

/*generale*/
body{
    font-family:'ralewayregular';
    color:black; 
    width: 100%;     
    margin:0px;
    box-sizing: border-box;      
    }

h1{
    text-align:left;
    font-size: 1.3em;
    font-weight: bolder;
    margin:15px 0px;
    }

h2{     
    text-align:left; 
    padding:15px 0px;
    margin:0px;    
    }

h3{
    font-size: 1em;
    font-weight: bold;    
    margin: 5px 0px;  
    }
 
h5{
    font-size: 0.9em;
    font-weight: normal;
    width: 100%;
    margin: 0px 10px 0px 0px;    
    }

P{
    text-align:left;
    width: 100%;
    font-size: 0.9em;  
    margin:0px;    
    }

.fa-star { 
    color: #0065FC; 
    font-size: 0.7em;   
    }


.etoile-grise{
    color:#C5C2C2;
    }

.etoile{
        display:flex;
        flex-direction: row;
        margin:5px 0px 5px 0px;
        }

.fond-gris{
    background-color:#cccccc;
    }

img {
    max-width: 100%;  
    max-height: 100%;   
    }

.gras{
    font-weight:bold;
    }

a{
    text-decoration: none;
    color:black;
    }

.annonce{
        display: flex;
        border: white solid 4px;    
        box-shadow: silver 3px 3px 0px 0px;
        border-radius:10px;          
        } 


header,main, footer,.nav-rechercher{
    padding: 0px 10px 0px 10px;
    }
.aside,.hebergements,.activites, .conteneur-footer{
    padding:0px 15px 0px 15px;    
    }
    
.conteneur-annonce-populaire,.conteneur-annonces-hebergement,.conteneur-activites{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px;   
    }
     
 .lienfooter:hover{
    color:blue;
    cursor:pointer;
    }

 .nav-lien:hover{
    font-size: 1em;
        border-bottom: solid 3px blue ;         
        color:blue;
    }







/*media queries 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/*
@media screen and (min-width: 768px) {
    .conteneur-annonces{
        flex-direction: row;                
        align-content:space-around;
      
 } 
*/

